body {
    background-size: cover;
    background-color: gray;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.window {
    border: solid;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    min-height: 2rem;
    display: none;
    flex-direction: column;
    will-change: transform;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(228, 222, 222, 0.25);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    align-items: center;
    border-bottom: grey solid;
}

.window-handle {
    cursor: move;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    background-color: rgb(161, 101, 167);
    border-bottom: solid;
    align-items: center;
    font-weight: bold;
    font-family: 'Cinzel Decorative', serif;
}

.window-close {
    border-left: solid;
    padding: 0rem 0.25rem 0rem 0.25rem;
    height: 100%;
    align-content: center;
    cursor: pointer;
}

.window-content {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-icon {
    display: flex;
    border: solid;
    border-radius: 25%;
    cursor:pointer;
    background-color: rgba(128, 128, 128, 0.75);
    align-items: center;
    justify-content: center;

    width: 5rem;
    height: 5rem;
}

#desktop {
    display: grid;
    grid-template-columns: repeat(3, 5rem);
    grid-auto-rows: 5rem;
    gap: 1.5rem;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.wallpaper-content {
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.wallpaper-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.wallpaper-selection:hover {
    border-color: black;
}

.wallpaper-selection img {
    width: 100%;
    height: 7.5rem;
    object-fit: cover;
    display: block;
}

.wallpaper-content p {
    text-align: center;
}



/* Boot Screen Shi*/
#boot-screen {
    position: fixed;
    inset: 0;
    background: black;
    z-index: 99999;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    display:flex;
}

#boot-heart {
    font-size: 10rem;
    color: #7b008f;
    scale: 0.5;
    transition: 
        opacity 0.75s ease,
        transform 0.75s ease;
}

#boot-heart.beat-active {
    animation: heartbeat ease-in-out infinite;
}

@keyframes heartbeat {
    0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	8.458390177% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

#boot-heart.crushed-heart {
    transform: scale(0.9);
    opacity: 0;
}


#white-flash {
    background-color: white;
    z-index: 100000;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#white-flash.flash {
    animation: whiteFlash 1s ease-out forwards;
}

@keyframes whiteFlash {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#findBettyWindow .window-content .FB-doors .FB-door {
    width: 30%;
}

#findBettyWindow .window-content .FB-doors {
    text-align: center;
    cursor: pointer;
}

#audio-popup-blur {
    position: fixed;
    inset: 0;
    z-index: 9998;

    backdrop-filter: blur(15px);

    background: rgba(255, 252, 252, 0.1);
}

#audio-popup {
    position: fixed;
    inset: 0;
    z-index: 10000001;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#achievement-popup {
    border: solid;
    width: 25rem;
    height: 8rem;
    border-radius: 7px 0 0 7px;
    position: absolute;
    top: 4rem;
    right: -25rem;
    background-color: white;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    pointer-events: none;
}

#achievement-icon {
    border-right: solid;
    display: flex;
    height: 100%;
    align-items: center;
}

#achievement-popup.show {
    animation: achievementPop 4s ease forwards;
}

@keyframes achievementPop {
    0% {
        transform: translateX(120%);
        opacity: 0;
    }
    10% {
        transform: translateX(-100%);
        opacity: 1;
    }
    80% {
        transform: translateX(-100%);
        opacity: 1;
    }
    100% {
        transform: translateX(120%);
        opacity: 0;
    }
}

.achievement {
    border: solid;
    margin: 1rem 0 0 1rem;
    width: 37rem;
    height: 7.5rem;
    border-radius: 7px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    pointer-events: none;
}
.achievement-locked {
    background-color: white;
    opacity: 0.5;
}
.achievement-unlocked {
    background-color: limegreen;
}

.achievement-icon {
    border-right: solid;
    display: flex;
    height: 100%;
    align-items: center;
}